*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(105, 143, 130);
}
header{
    text-align: center;
    padding: 10px ;
   
}
.nav {
    width: 84%;
    padding:  20px 0 ;
    list-style: none;
    margin: 5px 0;
    display: flex;
   justify-content: end;
}
nav a{
    text-decoration: none;
    margin: 10px 20px;
    font-size: larger;
    font-weight: bold;
    color: black;
}
nav a:hover{
    color: red;
}
main{
    width: 50%;
    float: right;
}
main img{
    height: 600px;
    width: 500px;
    border-radius: 300px;
    
}
aside{
    width: 50%;
    float: left;
    padding-top: 70px;
    padding-left: 40px;
    font-size: x-large;
}
p{
    font-size: 30px;
    margin-bottom: 20px;
}

.social ul li{
    padding-bottom:30px;
    margin-left: 40px;
    margin-top: 5px;
    list-style: none;
}
.banner{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/bg\ contact.jpg);
    background-size: cover;
    height: 560px;
    width: 1300px;
}
.contact table{
    /* width: 800px;
    height: 200px;
    margin: 20px;
    text-align:center;
    padding: 100px;
    
   color: #fff; */
   padding: 20px;
    border-radius: 7px;
    text-align: center;
    justify-content: center;

}
.contact input [type],
.contact textarea,
.contact button{
    width: 100%;
    margin: 20px;
    height: 50px;
}
.about {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/about.jpg);
    background-size: cover;
    height: 800px;
    width: 1300px;
}
.about h4{
    color: #fff;
}
.blog main{
    width: 800px;
    
}
